body {
  font-family: Arial, sans-serif;
}

#search {
  margin-bottom: 20px;
}

#query {
  font-size: 24px;
  padding: 10px;
}

button {
  font-size: 24px;
  padding: 15px;
  margin: 5px;
}

#search-results {
  margin-bottom: 20px;
}

.search-item {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}

#now-playing {
  display: flex;
  align-items: center;
}

#cover-art {
  width: 200px;
  height: 200px;
}

#track-info {
  margin-left: 20px;
}

#track-name, #artist-name {
  font-size: 24px;
}
